@mixin click {
	cursor: pointer;
	transition: opacity 0.7S;

	&:hover {
		opacity: 0.7;
	}
}
body{
background-color:#626669;
}
.page {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background-color:#626669;

	display: flex;
	flex-direction: column;
	gap: 64px;
}

.slider {
	border-radius: 19px;
	position: relative;
	width: 100%;


	&__content {
		display: flex;
		overflow: hidden;
		border-radius: 15px;
	}

	&__button {
		height: 48px;
		width: 48px;
		// background-color: #fff;
		border-radius: 32px;

		background-position: center center;
		background-repeat: no-repeat;

		position: absolute;
		top: calc(50% - (32px / 2));

		&--left {
			background-image: url('/svg/slider__left.png');
			left: -34px;
		}

		&--right {
			background-image: url('/svg/slider__right.png');
			right: -34px;
		}

		@include click;
	}
}

.header {
	position: absolute;
	top: 0;
	max-width: 600px;
	width: 100%;
	left: calc(50% - 300px);
	z-index: 1;
	background-color:#626669;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
		border-left: 2px solid #18193F;
		
	}

	&__list {
		display: flex;
		gap: 24px;
		margin-left: 5px;

		&--top {
			flex-direction: column;
			gap: 12px;
		}
	}

	&__link {
		color: #18193F;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		margin-top: 15px;

		height: 24px;
		display: flex;
		align-items: center;

		@include click;
	}

	&__button {
		height: 48px;
		width: 48px;
		background-position: center center;
		background-repeat: no-repeat;

		&--open {
			background-image: url('/svg/menu1.png');
			// height: 48px;
			// width: 48px;
		}

		&--close {
			background-image: url('/svg/close1.png');
		}
	}

	&__bottom {
		padding: 24px 0;
		border-bottom: 1px solid #dee2e6;
	}

	&__wrapper {
		overflow: hidden;
		transition: height 0.7s;
		height: 0;
	}
}